body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #DDD;
}

a {
  font-family: '微軟正黑體';
}

.logo-inner {
  background-image: url("../assets/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  height: 40%;
  width: 50%;
  left: 25%;
  top: 30%;
  position: fixed;
  transition: 0.5s;
}

#logo-box:hover .logo-inner {
  background-image: url("../assets/logo_light.png");
}

.footer {
  position: absolute;
  bottom: 2em;
  width: 100%;
  height: 2em;
  font-size: 1em;
  text-align: center;
}

.footer img {
  display:inline-block;
  height: 100%;
  vertical-align:middle;
  margin: 0 1em 0 1em;
}

@media(max-width: 992px) {
  .logo-inner {
    height: 20%;
    width: 80%;
    left: 10%;
    top: 40%;
    position: fixed;
    transition: 0.5s;
    animation: inner_anim 2s linear infinite;
  }

  @keyframes inner_anim {
    0%  {background-image: url("../assets/logo.png");}
    50%  {background-image: url("../assets/logo_light.png");}
  }

  .footer {
    height: 2em;
    font-size: 2em;
  }
}
